{% extends 'base.html.twig' %}

{% block title %}Calculator{% endblock %}

{% block body %}
    <h1>Calculator</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Evaluate</button>
    {{ form_end(form) }}

    {% if result is defined %}
        <span class="d-block alert alert-info">
            {{ firstArgument }} {{ operation }} {{ secondArgument }} = {{ result }}
        </span>
    {% endif %}
{% endblock %}
